{% for category in criteria %}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title" style="display: inline;"><b>CATEGORY: {{ category[0].category }}</b></h3>
    </div>
    <div class="panel-body">

    <table class="table">
      <thead>
        <tr>
          <th style="width: 20%">Subcategory/Criteria</th>
          <th style="width: 60%">Explanation</th>
          <th style="width: 10%">Evaluation grade</th>
          <th style="width: 10%">Weight factor</th>
        </tr>
      </thead>
      <tbody>

        
        {% for item in category %}
        <tr>
            <td>
             {{ item.criteria }}
            </td>
            <td>
             {{ item.explanation }}
            </td>
            <td>
                <select class="form-control js-criteria-evaluation">
                  <option>&mdash;</option>
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>    
            </td>
            <td>
            <input type="text" class="form-control js-criteria-weight">
            </td>
        </tr>
        {% endfor %}

      </tbody>
    </table>

    </div>
</div>

{% endfor %}

